@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Light.ttf');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 900,
}

:root {
  background-color: black;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

html {
  scroll-behavior: smooth;
  animation: fadeIn 1s ease-in 1 forwards;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
} */
